<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
<% include ../partials/head %>
</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <% include ../partials/navbar %>
      </nav>
  <!-- Text used for information related to site  -->
    <section>
      <p>
      <h1> Eclipsim <h1>
      </p>
    </section>
    <section>
      <p>
      <h3> This website focuses on mapping possible aurora locations and giving live feed on technical weather information<h3>
      </p>
    </section>
    <section>
      <p>
      <h3> Developed by <h3>
      <h3> Grzegorz | Stuart | Rami | Sam </h3>
      </p>
    </section>
    <footer>
        <% include ../partials/footer%>
    </footer>
  </body>
</html>
