
.row {
  display: flex;
  flex-wrap: wrap;
}
.rowImg {
  display: flex;
  flex-wrap: wrap;
}
.side {
  flex: 70%;
  background-color: #f1f1f1;
  padding: 20px;
}
.main {
  flex: 30%;
  background-color: white;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}


/* Footer */
#PageFooter {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {
    flex-direction: column;
  }
}

/*f-------------------------------------------  */
body {
  margins:auto;
  width:100%;
  text-align: center;
}

header, section, article, nav, aside, footer{
  font-family: sans-serif;
  border: 1px dotted #000;
  padding: 10px;
  margin: 10px;
}
header {
  width: 100%;
}
* {
  box-sizing: border-box;
}
#SiteLogo {
  width: 20%;
  height: 10%;
  float:left;
}
.leftSide {
  width: 75%;
}
.rightSide{
  width: 25%;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav li {
  padding: 8px;
  margin: 8px;
  background-color: blue;
  float:left;
  display: inline-block;
}
nav a {
    text-decoration: none;
    color: #fff;
}
.floatLeft {
    float:left;
}
.BlogPost {
  background-color: LightBlue;
}
.BlogPostContent p{
  color:red;
  display: block;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.column {
  float:left;
  padding:5px;
}
.box {
  width: 30%;
  height: 30%;
  padding: 10px;
}
.imageComments {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  border: 1px dotted black;
  font-size: 1vw;
}
#mainImage {
  width:100%;
  height: 70%;
}

.clearfix{
  content: "";
  clear: both;
  display: table;
}
.flex-container {
  display: -webkit-flex; /_ Safari _/
  display: flex;
  flex-direction:row;
}
