<!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
<!--Navbar is only setion that is using bootstrap  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link active" id="homeButton" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="aboutButton" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mapButton" href="#">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mapButton" href="/points/new">Add View Point</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mapButton" href="/auth/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mapButton" href="/auth/register">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
